<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @controller_name.name %>
</p>


<%= link_to 'Edit', edit_controller_name_path(@controller_name) %> |
<%= link_to 'Back', controller_names_path %>
