<h2>
  <%= link_to "Roles", roles_path %> |
  <%= link_to "All Resources", controller_actions_path %>
  <%= link_to "One Action All Controllers", action_names_path %>
  <%= link_to "One Controller All Actions", controller_names_path %>
</h2>